.af-footer-content {
  display: inline-block;
  width: calc(100% - 60px);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.af-footer-client__bottom {
  background-color: #3032c1;
  padding: 15px 0;
  min-height: 45px;
}
